.ced_fruugo_wal_required {
  color: #ff0000;
}
.ced_fruugo_wal_recommended {
  color: #4286F4;
}
.ced_fruugo_wal_conditionally_required {
  color: #50FF00;
}
.ced_fruugo_get_keys{
  padding-left: 10px;
}
.ced_fruugo_bottom_margin{
  margin-bottom: 10px!important;
}
/**/
.ced_fruugo_wrap .wp-list-table.widefat.fixed.striped tr th span, 
.wp-list-table.widefat.fixed.striped tr th,
.ced_fruugo_wrap .wp-list-table.widefat.fixed.striped tr td p label{
  font-weight: 600;
}
.ced_fruugo_wrap div.metabox-holder {
  padding-top: 0 !important;
}
.ced_fruugo_wrap.ced_fruugo_wrap_extn h2.ced_fruugo_setting_header {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.wrap.woocommerce.ced_fruugo_pages_wrapper {
  margin: 0;
}
/* css commom **/
.ced_fruugo_white_txt{
  color: #555555;
}
.ced_fruugo_button_right{
 float: right;
}
.ced_fruugo_cat_ul.ced_fruugo_1lvl h1 {
  margin-top: 0;
}
.ced_fruugo_wrap ul.subsubsub li {
  color: #000;
}
.ced_fruugo_wrap .subsubsub li a.current {
  color: #fab418;
}
.ced_fruugo_wrap .subsubsub li a {
  color: #555;
}
h2.ced_fruugo_setting_header {
  /*border-bottom: 2px solid #cccccc;*/
  color: #555;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 5px 0 8px;
  text-transform: uppercase;
}
.ced_fruugo_wrap {
  background-color: #fff;
  padding: 10px;
  width: 97%;
  margin-top: 30px;
}
/** buttons **/
.button.button-ced_fruggo,
.ced_fruugo_wrap .button.action,
.ced_fruugo_wrap .search-box .button{
  background-color: #fab418 !important;
  border: 1px solid #fab418 !important;
  color: #000!important;
  letter-spacing: 1px;
  text-shadow: none !important;
  text-transform: uppercase;
  box-shadow: 0 1px 2px #ccc !important;
}
/* nav bar */
.nav-tab-wrapper.woo-nav-tab-wrapper.ced_fruugo_nav_tab_wrapper {
  border-bottom: 1px solid #fab418;
  width: 98%;
  margin-bottom: -2px;
}
.nav-tab-wrapper.woo-nav-tab-wrapper.ced_fruugo_nav_tab_wrapper a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fab418!important;
  border-color: #fab418;
  color:#36518a;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px;
  margin-right: 8px;
}
.nav-tab-wrapper.woo-nav-tab-wrapper.ced_fruugo_nav_tab_wrapper a.nav-tab.nav-tab-active {
  background-color: #fff!important;
  border-bottom: 1px solid transparent;
  position: relative;
  z-index: 999;
  top: -1px;
}
.ced_fruugo_wrap span.displaying-num {
  color: #555;
}
/* marketplace */
.ced_fruugo_config_table tr td.manage-column input {
  width: 100%;
}
.ced_fruugo_vacation_message_field{
  width: 100%;
}
/* feed status */
.ced_fruugo_wrap ul.subsubsub {
  float: none;
}
.ced_fruugo_pages_wrapper .nav-tab {
  margin-top: 8px;
}
/* table full width */
.ced_fruugo_wrap .meta-box-sortables.ui-sortable {
  margin-right: 20px;
}
/* return address css*/
div.ced_fruugo_return_address table.ced_fruugo_return_address input, textarea{
  width: 100%;
}
td.ced_fruugo_auto_ack input{
  width: auto!important;
}
/* return address css */
div.ced_fruugo_return_address table.ced_fruugo_return_address input, textarea{
  width: 100%;
}
div.ced_fruugo_return_address p.submit {
  text-align: right;
  padding-right: 20px;
}
/* back button */
.ced_fruugo_wrap > div.back {
  margin: 10px 0;
}
.ced_fruugo_wrap > div.back a {
  text-decoration: none;
  color:#ffffff;
}
/* back button */
/* - COMMON STYLE-*/
.ced_fruugo_toggle {
  background-color: #eee;
  padding: 10px 7px;
  cursor: pointer;
}
.ced_fruugo_toggle_div {
  background-color: #fff;
  padding: 10px 7px;
  display: block;
  border: 1px solid #ddd;
}
#ced_fruugo_fields{
  width:100%;
}
.ced_fruugo_cat_map_wrapper .ced_fruugo_cat_mapping .ced_fruugo_toggle_section {
  margin: 0;
}
/* -COMMON STYLE END - */
/* -MARKET PLACE CSS START- */
.ced_fruugo_marketplaces_wrapper {
  width: 99%;
  margin-top: 20px;
}
.ced_fruugo_single_wrapper {
  margin-bottom: 20px;
}
.ced_fruugo_marketplaces_wrapper .ced_fruugo_marketplace {
  position: relative;
}
.ced_fruugo_marketplaces_wrapper .ced_fruugo_marketplace span{
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
} 
.ced_fruugo_span {
  background-color: #ec407a;
  border-radius: 100%;
  box-shadow: 0 0 12px #ad1457;
  float: right;
  height: 20px;
  width: 20px;
}
.ced_fruugo_active.ced_fruugo_span {
  background-color: #34b3a0;
  box-shadow: 0 1px 15px #1b5e20;
}
.ced_fruugo_span::before {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  content: "Inactive";
  font-size: 13px;
  letter-spacing: 1px;
  padding: 3px 0 5px;
  position: absolute;
  right: 27px;
  text-align: center;
  top: 7px;
  width: 80px;
  visibility: hidden;
  transform: scale(.8);
  -moz-transform: scale(.8);
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  -ms-transition: all 200ms ease-out 0ms;
  -moz-transition: all 200ms ease-out 0ms;
  -webkit-transition: all 200ms ease-out 0ms;
  transition: all 200ms ease-out 0ms;
}
.ced_fruugo_active.ced_fruugo_span::before{
  content: "active"!important;
}
.ced_fruugo_span:hover::before{
 visibility: visible;
 transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 -webkit-transition: all 200ms ease-out 0ms;
 -moz-transition: all 200ms ease-out 0ms;
 transition: all 200ms ease-out 0ms 
}
.ced_fruugo_toggle_div.ced_fruugo_active{
  display: block;
}
/* -MARKET PLACE CSS END - */
/* - pagination css - */
ul.ced_fruugo_pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
ul.ced_fruugo_pagination li {display: inline;}
ul.ced_fruugo_pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
ul.ced_fruugo_pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
ul.ced_fruugo_pagination li a:hover:not(.active) {background-color: #ddd;}
/* - pagination css end - */
/** - product listing css - */
.ced_fruugo_thumbnail img{
  width : 50px;
  height: 50px;
}
/* - end of product listing css - */
/*-Configuration CSS Start -*/
.ced_fruugo_general_config.ced_fruugo_toggle_div table.ced_fruugo_label_data {
  width: 100%;
}
.ced_fruugo_general_config.ced_fruugo_toggle_div table.ced_fruugo_label_data tr td:nth-child(2n) input[type="text"] {
  width: 100%;
}
.ced_fruugo_general_config.ced_fruugo_toggle_div table.ced_fruugo_label_data tr td {
  background-color: #eee;
  padding: 6px;
}
.ced_fruugo_config_wrapper ul.subsubsub li {
  float: left;
}
.ced_fruugo_rowButtons {
  text-align: right;
}
.ced_fruugo_config_wrapper ul.subsubsub li a {
  color: #000;
  text-transform: uppercase;
}
.ced_fruugo_config_wrapper ul.subsubsub li a.current {
  color: #1b5e20;
}
/*-Configuration CSS End --*/ 
.wp-list-table.widefat.fixed.striped.ced_fruugo_mps fieldset.inline-edit-col-left {
  margin-top: 10px !important;
  width: 100% !important;
}
.wp-list-table.widefat.fixed.striped.ced_fruugo_mps fieldset.inline-edit-col-left .ced_fruugo_profile_field label {
  display: inline-block;
  max-width: 30%;
  width: 100%;
  vertical-align: middle;
}
.wp-list-table.widefat.fixed.striped.ced_fruugo_mps fieldset.inline-edit-col-left .ced_fruugo_profile_field input[type="text"] {
  width: 65%;
}
.wp-list-table.widefat.fixed.striped.ced_fruugo_mps fieldset.inline-edit-col-left .ced_fruugo_profile_field p {
  display: inline-block;
  vertical-align: middle;
}
/*-Edit Order CSS Start-*/ 
.umb_fruugo_fields table.umb_fruugo_meta_table {
  margin: 10px 0;
  width: 100%;
}
.umb_fruugo_fields table.umb_fruugo_meta_table tr td{
  padding: 5px;
}
.umb_fruugo_fields table.umb_fruugo_meta_table tr td:nth-child(2n) input[type="text"] {
  width: 100%;
}
.umb_header_options {
  margin-top: 10px;
}
.umb_header_options button{
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  padding: 2px 10px 5px;
  text-transform: uppercase;
}
.umb_header_options #umb_order_confirmation {
  background-color: #388E3C;
}
.umb_header_options #umb_order_cancel{
  background-color:#d50000;
}
.umb_fruugo_order_items table.umb_fruugo_order_table tr td input {
  width: 100%;
}
/*-Edit Order CSS End*/ 
/*-File Status Start-*/ 
.ced_fruugo_fileStatus {
  padding: 20px 10px;
}
/*-File Status End-*/ 
table.ced_fruugo_fileTable {
  border: 1px solid #ddd;
  width: 100%;
}
table.ced_fruugo_fileTable tr td {
  background-color: #fff;
  padding: 5px;
}
.ced_fruugo_file_detail span {
  margin-right: 10px;
}
.ced_fruugo_updateFileInfo {
  background-color: #039be5;
  border: 0 none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
  cursor:pointer;
}
.ced_fruugo_file_detail {
  background-color: #fff;
  padding: 7px;
}
/* fruugo attributes section */
.ced_fruugo_attribute_section,
.ced_fruugo_attribute_section{
  background-color:transparent;
  margin: 10px;
}
/* manage product profile section */
.ced_fruugo_hidden_profile_section {
  margin: 30px auto 0;
  max-width: 600px;
  padding: 20px;
  position: relative;
  top: 38%;
  width: 90%;
}
.ced_fruugo_overlay {
  display : none;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.ced_fruugo_hidden_profile_section select {
  width: 85%;
}
.ced_fruugo_overlay_cross {
  cursor: pointer;
}
.ced_fruugo_profile_wrapper .ced_fruugo_profileProMeta {
  overflow-x: scroll;
}
.ced_fruugo_profile_wrapper .ced_fruugo_profile_left {
  width: 60%;
}
.ced_fruugo_profile_wrapper .ced_fruugo_profile_right {
  width: 36%;
}
.ced_fruugo_profile_wrapper .ced_fruugo_productKeysListing {
  width: 100%;
}
.ced_fruugo_profile_wrapper .postbox{
  padding: 10px;
}
.ced_fruugo_productKeysListing th {
  text-align: left;
}
.ced_fruugo_productKeysListing th a {
  text-decoration: none;
  text-transform: uppercase;
}
.wp-list-table.widefat.fixed.striped.ced_fruugo_prerequisite img {
  margin-left: 11px;
  width: 15px;
}
.ced_fruugo_prerequisite {
 margin: auto;
 max-width: 60%;
 padding: 10px;
}
.ced_fruugo_prerequisite_wrapper > h2 {
  text-align: center;
}
.ced_fruugo_prerequisite{
  border-radius: 25px;
  border: 2px solid #ccc !important;
}
/***********newp ****************/
#ced_fruugo_fields #ced_fruugo_accordian .ced_fruugo_panel .ced_fruugo_collapse .ced_fruugo_label_data p input,
#ced_fruugo_fields #ced_fruugo_accordian .ced_fruugo_panel .ced_fruugo_collapse .ced_fruugo_label_data p select,
#_umb_fruugo_category ~ .select2.select2-container { 
  margin-left: 20px;
  height: 36px;
  width: 50%!important;
}
#_umb_fruugo_category ~ .select2.select2-container {
  margin-left: 0;
}
#ced_fruugo_accordian p {
  margin-top: 10px;
  padding: 0 !important;
}
#ced_fruugo_accordian label {
  margin-left: 10px;
}
.ced_fruugo_toggle_div p label {
  display: inline-block;
  max-width: 75%;
  width: 100%;
}
#ced_fruugo_marketplace_loader {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}
#ced_fruugo_marketplace_loader img {
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 40%;
}
/**==TAX CODE OVERLAY ==**/
.ced_fruugo_taxcode_overlay_wrapper {
  display : none;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.ced_fruugo_taxcode_overlay {
  background-color: #fff;
  border: 4px solid #000;
  bottom: 0;
  height: 400px;
  left: 0;
  margin: auto;
  max-width: 820px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.ced_fruugo_taxcode_overlay table tr:nth-child(2n+1) td {
  background-color: #eee;
}
.ced_fruugo_taxcode_overlay table tr td,.ced_fruugo_taxcode_overlay table tr th {
  cursor: pointer;
  padding: 6px;
  vertical-align: middle;
}
.ced_fruugo_taxcode_overlay table tr th{
  background-color:#333;
  color:#fff;
}
.ced_fruugo_cancel {
  border: 2px solid red;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  margin: 4%;
  text-align: center;
  width: 35px;
}
.ced_fruugo_cancel img {
  padding-top: 6px;
}
.ced_fruugo_search_wrap{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.ced_fruugo_search_wrap input{
  float : none !important;
}
/**== Category page fruugo ==**/
.umb-attribute-select-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.umb-selcted-category-subcats ul.ced_fruugo_ul {
  background-color: #fff;
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  max-width: 400px;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
#ced_fruugo_products .tablenav-paging-text {
  color: #000000;
}
.ced_fruugo_bulk_action .select2.select2-container.select2-container-default {
  width: 100% !important;
}
.ced_fruugo_wrap > div.back a::before {
  content: "<<";
  font-size: 20px;
}
.ced_fruugo_wrap > div.back > a {
  font-size: 17px;
}
table.activityfeeds th {
  vertical-align: top;
}
#ced_fruugo_shipment_submit.button {
  margin-left: 0;
  margin-top: 15px;
}
.options_group.umb_fruugo_options h2.title {
  font-weight: bold;
  padding-left: 2px !important;
}
.ced_fruugo_panel .ced_fruugo_sub_accordion .ced_fruugo_sub_panel h4 ,.ced_fruugo_label_data p.form-field {
  margin-top: 0;
  padding-top:10px;
}
.ced_fruugo_panel .ced_fruugo_sub_accordion .ced_fruugo_sub_panel h4{
  margin-left:15px;
}
.form-field._umb_fruugo_subcategory > select#_umb_fruugo_subcategory {
  display: inline-block;
  max-width: 50%;
  width: 100%;
}
.ced_fruugo_panel .ced_fruugo_sub_accordion .ced_fruugo_sub_panel h4 {
  margin-left: 15px;
}
.ced_fruugo_toggle_div.ced_attr_wrapper label {
  max-width: 200px;
  width: 100%;
}
.woocommerce_variable_attributes #ced_fruugo_fields {
  width: 100% !important;
}
#ced_fruugo_fields #ced_fruugo_accordian {
  padding: 0;
}
.ced_fruugo_cmn table.fixed.striped.widefat tr td input[type="checkbox"] {
  width: auto;
}
.ced_fruugo_inline_box > label {
  vertical-align: middle;
}
.fruugo_seller {
 border-bottom: 1px solid #d1d1d1 ;
 border-top: 1px solid #d1d1d1 ;
 padding: 10px;
}
.ced-fruugo-dashboard > span {
 font-size: 18px;
}
.ced-fruugo-dashboard > p {
 margin: 0;
}
.ced-fruugo-dashboard::before {
 color: #464646 ;
 content: "";
 float: left;
 font-family: WooCommerce;
 font-size: 2em;
 font-variant: normal;
 font-weight: 400;
 height: 100%;
 left: 0;
 line-height: 1.2em;
 margin: 0 12px 12px 0;
 position: relative;
 text-align: center;
 text-indent: 0;
 text-transform: none;
 top: 0;
 width: auto;
}
.ced-fruugo-dashboard:focus {
 box-shadow: none !important;
}
.fruugo_seller:hover .ced-fruugo-dashboard::before {
 color: #2ea2cc !important;
}
.ced-fruugo-dashboard > p {
 color: #aaaaaa ;
 margin: 0;
}
.fruugo_seller a:hover>p {
 color: #00a0d2 ;
}
.fruugo_seller:nth-child(3) .ced-fruugo-dashboard::before {
 color: #aa0000 ;
 content: '';
 float: left;
 font-family: WooCommerce;
 font-size: 2em;
 font-variant: normal;
 font-weight: 400;
 height: 100%;
 left: 0;
 line-height: 1.2em;
 margin: 0 12px 12px 0;
 position: relative;
 text-align: center;
 text-indent: 0;
 text-transform: none;
 top: 0;
 width: auto;
}
.fruugo_seller:nth-child(1) .ced-fruugo-dashboard::before {
 color: #7ad03a ;
 content: "";
 float: left;
 font-family: Dashicons;
 font-size: 2em;
 font-variant: normal;
 font-weight: 400;
 height: 100%;
 left: 0;
 line-height: 1.2em;
 margin: 0 12px 12px 0;
 position: relative;
 text-align: center;
 text-indent: 0;
 text-transform: none;
 top: 0;
 width: auto;
}
.fruugo_seller:nth-child(2) .ced-fruugo-dashboard::before {
 color: #464646 ;
 content: "";
 float: left;
 font-family: WooCommerce;
 font-size: 2em;
 font-variant: normal;
 font-weight: 400;
 height: 100%;
 left: 0;
 line-height: 1.2em;
 margin: 0 12px 12px 0;
 position: relative;
 text-align: center;
 text-indent: 0;
 text-transform: none;
 top: 0;
 width: auto;
}
.postbox .inside {
 padding: 0;
}
.ced_umb_custom_template{
  padding: 10px ;
}
.ced-fruugo-template-preview{
  margin:5px;
}
.ced_fruugo_template_select{
  max-height: 100px;
}
.ced_fruugo_template_editor{
  margin: 10px;
}
.ced_fruugo_shortcode_div{
  margin: 10px;
}
.ced_fruugo_custom_template_css{
  margin: 10px;
}
.ced_fruugo_current_notice{
  width: 96.5% !important;
}
.ced-fruugo-premium-version-notice{
  width: 96.5% !important;
}
.ced_fruugo_need_to_fetch_categories{
  width: 96.5% !important;
}
.ced_fruugo_category_loader{
  display: none;
  float: right;
}
/*=============================================
=            Dashboard Heading CSS            =
=============================================*/
.ced_fruugo_product > h3, .ced_fruugo_order > h3 {
  font-size: 25px;
  text-align: center;
}
.ced_fruugo_product >h3 >a, .ced_fruugo_order >h3 >a{
  color: #fab418;
  text-decoration: none;
}
/*=====  End of Dashboard Heading CSS  ======*/
/*=======================================
=            Product Section            =
=======================================*/
.ced_fruugo_dashboard {
  padding: 50px 25px;
  background-color: #F5F5F5;
}
.ced_fruugo_product::after {
  clear: both;
  content: "";
  display: block;
}
.ced_fruugo_product{
  background-color: #ffffff;
  padding: 10px 25px;
}
.ced_fruugo_product_box_section {
  width: 60%;
  float: left;
}
.ced_fruugo_product_box {
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
  margin: 15px 0;
  padding: 15px;
  width: 40%;
}
.ced_fruugo_product_box.box1{ 
  color: #ffffff;
}
.ced_fruugo_product_box.box2 {
  float: right;  
  color: #ffffff;
}
.ced_fruugo_product_name {
  font-size: 15px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}
.ced_fruugo_product-number {
  font-size: 45px;
  margin: 0;
  text-align: center;
}
.ced_fruugo_product_graph_section {
  width: 40%;
  float: right;
}
.piechart_product {
  float: right;
}
/*=====  End of Product Section  ======*/
/*=====================================
=            Order Section            =
=====================================*/
.ced_fruugo_order {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 10px 25px;
}
.ced_fruugo_order::after {
  clear: both;
  content: "";
  display: block;
}
.ced_fruugo_order_graph_section {
  width: 40%;
  float: left;
}
.ced_umb_order_box_section {
  float: right;
  width: 60%;
}
.ced_fruugo_order_box {
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
  margin: 15px 0;
  padding: 15px;
  width: 40%;
}
.ced_fruugo_order_box.box1{
  color: #ffffff;
}
.ced_fruugo_order_box.box2 {
  float: right;
  color: #ffffff;
}
.ced_fruugo_order_name {
  font-size: 15px;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}
.ced_fruugo_order-number {
  font-size: 45px;
  margin: 0;
  text-align: center;
}
/*=====  End of Order Section  ======*/
.ced_fruugo_product_box.box1.uploaded_product {
  background: #7a525d none repeat scroll 0 0;
}
.ced_fruugo_product_box.box2.ready_product {
  background: #ffa500 none repeat scroll 0 0;
}
.ced_fruugo_product_box.box1.out_of_stock {
  background: #968e91 none repeat scroll 0 0;
}
.ced_fruugo_product_box.box2.product {
  background: #568bc4 none repeat scroll 0 0;
}
.ced_fruugo_order_box.box1.net-sale {
  background: #7a525d none repeat scroll 0 0;
}
.ced_fruugo_order_box.box2.completed_order {
  background: #ffa500 none repeat scroll 0 0;
}
.ced_fruugo_order_box.box1.acknowledge_order {
  background: #968e91 none repeat scroll 0 0;
}
.ced_fruugo_order_box.box2.cancelled_order {
  background: #568bc4 none repeat scroll 0 0;
}
/*=========================================
=            Media Query Start            =
=========================================*/
@media screen and (max-width: 820px){
  .ced_fruugo_product_box_section {
    float: none;
    width:100%;
  }
  .ced_fruugo_product_graph_section {
    float: none;
    width: 100%;
  }
  .piechart_product {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .ced_umb_order_box_section {
    float: none;
    width:100%;
  }
  .ced_fruugo_order_graph_section {
    float: none;
    width: 100%;
  }
  .piechart_order {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px){
  .ced_fruugo_product_box {    
    width: 88%;
  }
  .ced_fruugo_product_box.box2 {    
    float: none;
  }
  .ced_fruugo_order_box {    
    width: 88%;
  }
  .ced_fruugo_order_box.box2 {    
    float: none;
  }
}
@media screen and (max-width: 360px){
  .piechart_product {    
    width: 220px;
  }
  .piechart_order {    
    width: 220px;
  }
}
#ced_fruugo_piechart_3d_products > div {
  margin-top: -50px;
}
#ced_fruugo_piechart_3d_order > div {
  margin-top: -50px;
}
/*=====  End of Media Query  ======*/
.ced_fruugo_bulk_upload_marketplace{
  display: none !important;
}
.umb_eby_select_fruugo_for_order_fetch{
  display: none !important;
}
/*.button.button-ced_fruggo.ced_fruugo_bulk_upload_submit {
  float: left;
  }*/
/*#ced_fruugo_fetch_order {
  margin-left: 190px;
  margin-top: -28px;
  }*/
  .umb_fruugo_end_listing{
    margin-left: 0px !important;
  }
  .ced_fruugo_unanswered{
    color: red;
  }
  .ced_fruugo_answered{
    color: green;
  }
  .ced_fruugo_reply_textarea{
    width: 60%;
  }
  .ced_fruugo_message_reply_header{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /*message design css*/
  .ced_fruugo_replied_message_content.ced_fruugo_message_content {
    background: #f2f2f2;
    border-radius: 8px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  span.ced_fruugo_message_on {
    background: #fab418;
    display: block;
    color: #fff;
    padding: 7px 20px;
    border-radius: 8px 8px 0px 0px;
  }
  .ced_fruugo_message_body {
    padding: 0px 20px 20px 20px;
  }
  span.ced_fruugo_message_subject {
    margin-bottom: 20px;
    display: block;
    font-size: 15px;
  }
  .ced_fruugo_message_body_section {
    margin-top: 20px;
  }
  span.ced_fruugo_message_status {
    font-size: 20px;
  }
  span.ced_fruugo_sender_name {
    font-size: 20px;
  }
  .ced_fruugo_message_by_section {
    border: solid 1px;
    padding: 10px 12px;
  }
  span.ced_fruugo_message_subject strong {
    font-size: 18px;
    color: #000;
  }
  .ced_fruugo_message_content {
    border: solid 1px #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  span.ced_fruugo_reply_text strong{
   color: #000;
   font-size: 18px;
 }
 .ced_fruugo_negative_feedback{
  color : red;
  font-size: 14px;
}
.ced_fruugo_neutral_feedback{
  color : #fab418;
  font-size: 14px;
}
.ced_fruugo_positive_feedback{
  color : green;
  font-size: 14px;
}
.ced_fruugo_feedback_score_star_full {
 position: relative;
}
.ced_fruugo_feedback_score_star_full:after {
  content: "\2605";
  color: #fab418;
  font-size: 24px;
}
b.ced_fruugo_feedback_score_star_empty:before {
  content: '☆';
  color: #fab418;
  overflow: hidden;
  font-size: 24px;
}
span.ced_fruugo_seller_rating_heading {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  text-align: right;
}
span.ced_fruugo_overall_feedback_score {
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
}
.ced_fruugo_message_body pre {
 white-space: pre-line;
}
.ced_fruugo_reply_section {
 margin-top: 30px;
 }.ced_fruugo_reply_section span.ced_fruugo_reply_text {
   margin-bottom: 10px;
   display: block;
   }.ced_fruugo_reply_section input.button.button-ced_fruggo.ced_fruugo_reply_submit {
     margin-top: 12px;
     }.ced_fruugo_reply_textarea {
       width: 100%;
     }
     select.ced_fruugo_feedback_filter{
      margin-right: 10px;
    }
    .ced_fruugo_filter_section {
     width: 50%;
     float: left;
   }
   .ced_fruugo_feedback_score_div {
     width: 50%;
     float: right;
     text-align: right;
   }
   .ced_fruugo_positive{
    color : green;
  }
  .ced_fruugo_neutral{
    color : #fab418;
  }
  .ced_fruugo_negative{
    color : red;
  }
  .select2.select2-container.select2-container--default {
    max-width: 1000px !important;
    width: 100% !important;
  }
  .ced_fruugo_add_shops_section
  {
    padding: 20px;
    margin-left: 40%;
  }
  .ced_fruugo_active_shop_not_selected
  {
    max-width: 96%;
  }
  table.ced_fruugo_config_table {
    margin-bottom: 20px;
  }
/*====================================
=            some changes            =
====================================*/
#ced_fruugo_upload_product_type {
  width: 100%;
}
.ced_fruugo_active_shop_not_selected.notice.notice-warning {
  margin-top: 30px;
}
.ced_fruugo_cat_ul.ced_fruugo_2lvl > h1,.ced_fruugo_cat_ul.ced_fruugo_3lvl h1 {
  margin-top: 0;
}
/*=====  End of some changes  ======*/
.ced_fruugo_category_profile_mapping.wrap table tr td ,.ced_fruugo_category_profile_mapping.wrap table tr th {
  display: table-cell!important;
  vertical-align: middle;
}
.ced_fruugo_category_profile_mapping.wrap table tr  {
  display: table-row;
}
.ced_fruugo_category_profile_mapping.wrap {
  overflow: auto;
}
.ced_fruugo_return_address table.ced_fruugo_return_address tr td input,
.ced_fruugo_category_profile_mapping.wrap table tr td select,
#ced_fruugo_username_string, #ced_fruugo_password_string {
  border-radius: 4px;
  height: 36px;
}
.ced_fruugo_return_address table.ced_fruugo_return_address tr th, 
.ced_fruugo_return_address table.ced_fruugo_return_address tr td {
  vertical-align: middle;
}
.fruugo_static_url {
  float: right;
  width: 80%;
}
#ced_fruugo_products table.widefat tr td.column-thumb::before ,
#ced_fruugo_products table.widefat tr td.column-cb::before {
  content: "";
}
@media screen and (max-width: 782px) {
  #ced_fruugo_products table tr {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .ced_fruugo_category_profile_mapping.wrap table tr th {
    width: 121px;
  }
  form.ced_fruugo_marketplace_configuration table tr th{
    display: block;
  }
  .fruugo_static_url{
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 650px) {
  .ced_fruugo_hidden_profile_section.ced_fruugo_wrap .ced_fruugo_profile_select{
    width: 100%;
  }
  #ced_fruugo_fields #ced_fruugo_accordian .ced_fruugo_panel .ced_fruugo_collapse .ced_fruugo_label_data p input,
   #ced_fruugo_fields #ced_fruugo_accordian .ced_fruugo_panel .ced_fruugo_collapse .ced_fruugo_label_data p select, 
   #_umb_fruugo_category ~ .select2.select2-container {
    margin-left: 0;
    width: 80% !important;
  }
}
